* {
	box-sizing: border-box;
}
body {
	background:white;
	font-family: Roboto,sans-serif;
	font-size:16px;
	line-height:24px;
	color:#323232;
}
p.header{
	font-size:17px;
	margin-bottom:5px;
	margin-top:0;
	color:#000000;
    padding: 0;

}
p {
	margin-bottom:0;
	color:#666666;
	font-size:16px;
    margin-top:0;
    padding: 0;
}
strong {
	font-weight:600;
}
a {
	color:#323232;
	text-decoration:underline;
}
input[type="text"] {
	padding:8px 12px;
	border-radius:5px;
	border:1px solid #eee;
}

img.about {
	width:100%;
	height:auto;
	display:block;
	margin:auto;
	margin-bottom:20px;
	align: center;
}

h2 {
	font-weight:600;
	font-size:20px;
	line-height:30px;
	text-align:center;
	margin-bottom:20px;
}
h3 {
	font-size:18px;
	margin-bottom:20px;
	font-weight:600;
	color:#000000;

}
h4 {
	margin-bottom:20px;
}
h5 {
	margin-bottom:12px;
	font-weight:600;
}
ul {
	margin-bottom:20px;
	list-style-type:disc;
}
li {
	margin-left:20px;
	margin-bottom:6px;
}
.center {
	margin:auto;
}
.text-center {
	text-align:center;
}
.phone-size-wrapper {
	padding:20px 0;
}
.tutorial {
	text-align:center;
	position:absolute;
	width:100%;
	height:100%;
}
.tutorial h2 {
	font-size:24px;
	line-height:32px;
	margin-top:0px;
	margin-bottom:12px;
}
.tutorial h3 {
	font-size:18px;
	line-height:24px;
	font-weight:400;
	color:#969696;
}
.text-container {
	padding: 20px;
	word-wrap: break-word;
}
.header {
	padding-bottom:20px;
}
.dropdown {
	vertical-align:middle;
}
#about-logo {
	margin-left: auto;
	margin-right: auto;
    width:300px;
    height:auto;
    align: center;
    padding: 0;
}