/* any media */


h1 {
    margin-top: 6px;
    margin-bottom: 6px;
    text-align: center;
    font-size: 100%;


}

h2 {
    margin-top: 20px;
    margin-bottom: 0px;
    text-align: center;
    font-size: 110%;


}

h3 {
    margin-top: 5px;
    margin-bottom: 0px;
    text-align: center;
    font-size: 70%;
    font-weight: normal;
    font-style: verdana;

}


p {
    margin-top: 16px;
    margin-bottom: 16px;
    text-align: center;

}

button
{
      width: 150px;
      height: 25px;
      display: table;
      background: transparent;
      border-radius: 5px;
      border: 1px solid grey;
      margin: 0 auto;
      margin-top: 15px;

}

#bottmBar
{
    width: 100%;
    height: 50px;
    background: white;
    position: fixed;
    bottom: 0px;
    z-index:100;
}




